<div id="ENTRY_IDENTIFIER-WHAT_KIND_IS_THIS" class="player-element-GROUP_ALIGNMENT">
   <div class="player-element-content-images">
      <div class="player-element-avatar"><img src="AVATAR_BASE64"/></div>
      <div class="player-element-banner">
         <img src="BANNER_BASE64">
      </div>
   </div>
   <div class="player-element-content-first">
      <span class="player-element-name">PLAYER_NAME</span>
      <br>
      <div class="player-element-kda"> 
      <span class="inline-image"> 
      <img src="SKULL_IMAGE"/> 
      </span>
      <span class="kda-hover" title="KILL_HOVER_TEXT"> KILL_COUNT </span>/
      <span class="kda-hover" title="DEATH_HOVER_TEXT"> DEATH_COUNT </span>/
      <span class="kda-hover" title="ASSIST_HOVER_TEXT"> ASSIST_COUNT </span>
      </div>
      <div class="player-element-mvp"> 
       <span class="inline-image"> 
      <img src="MVP_IMAGE"/> 
      </span>
      MVP_POINTS
      </div>
   </div>
   <div class="player-element-content-second">
      <div class="player-element-inline">
         <span class="inline-image"> 
         <img src="DIAMOND_SWORD_IMAGE">
         </span>
         <br>
         <span class="inline-image-high"> 
         <img src="SHIELD_IMAGE" >
         </span>
      </div>
      <div class="player-element-inline">
         <span class="player-element-text">HIT_DAMAGE_DEALT in HIT_COUNT_DEALT hits &nbsp;&nbsp;(SPAMCLICK_DEALT / NORMALCLICK_DEALT / CRIT_DEALT)<span>
         <br>
         <span class="player-element-text">HIT_DAMAGE_TAKEN in HIT_COUNT_TAKEN hits &nbsp;&nbsp;(SPAMCLICK_TAKEN / NORMALCLICK_TAKEN / CRIT_TAKEN)<span>
      </div>
   </div>
    <div class="player-element-content-items">
      PLAYER_ITEMS_PLACEHOLDER
    </div>
</div>