<div id="ENTRY_IDENTIFIER" class="player-element-GROUP_ALIGNMENT">
   <div class="player-element-content">
      <!-- Avatar to the left -->
      <div class="player-element-avatar"><img src="data:image/png;base64,AVATAR_BASE64"/></div>
      <!-- Banner -->
      <div class="player-element-banner">
         <img src="data:image/png;base64,BANNER_BASE64">
      </div>
   </div>
   <div class="player-element-content">
      <!-- PlayerName -->
      <span class="player-element-name">PLAYER_NAME</span>
      <br>
      <!-- Second line -->
      <div class="player-element-kda"> 
      <span class="inline-image"> 
      <img src="data:image/png;base64,SKULL_IMAGE"/> 
      </span>KILL_COUNT / DEATH_COUNT / ASSIST_COUNT</div>
   </div>
   <!-- Damage done pane-->
   <div class="player-element-content2">
      <div class="player-element-inline">
         <!-- Diamond sword icon-->
         <span class="inline-image"> 
         <img src="data:image/png;base64,DIAMOND_SWORD_IMAGE" width="12">
         </span>
         <br>
          <!-- Shield icon-->
         <span class="inline-image-high"> 
         <img src="data:image/png;base64,SHIELD_IMAGE" >
         </span>
      </div>
      <div class="player-element-inline">
         <span class="player-element-text">HIT_DAMAGE_DEALT in HIT_COUNT_DEALT hits &nbsp;&nbsp;(SPAMCLICK_DEALT / NORMALCLICK_DEALT / CRIT_DEALT)<span>
         <br>
         <span class="player-element-text">HIT_DAMAGE_TAKEN in HIT_COUNT_TAKEN hits &nbsp;&nbsp;(SPAMCLICK_TAKEN / NORMALCLICK_TAKEN / CRIT_TAKEN)<span>
      </div>
   </div>
</div>
