<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="exp.css">
<body>
<head>
<style>
CSS_PLACEHOLDER
</style>
<script>
JAVASCRIPT_PLACEHOLDER
</script>
</head>
<select name="navyOp" onchange="orderSel(this);">
  <option value="AN01">Alphabetic</option>
  <option value="AN02">MVP (not implemented)</option>
  <option value="AN03">Kills</option>
  <option value="AN04">Damage dealt</option>
  <option value="AN05">Damage taken</option>
  <option value="AN06">Damage dealt/taken ratio</option>
</select>
<h1>Player list </h1>
<div id="infoHolder">
CONTENT_PLACEHOLDER
</div>

 <footer> </footer>

</body>



</html>